<h1><%= @course.name %></h1>

<%= link_to "Editar", edit_course_path(@course) %><br/>
<%= link_to "Eliminar", course_path(@course), method: :delete, data: { confirm: "¿Estás seguro? Esta acción no se puede deshacer"} %><br/>
<p><%= @course.description %></p>